<div class="login">
    <mat-card class="card">
        <mat-card-header class="card-header">
            <h1>INICIAR SESIÓN</h1>
        </mat-card-header>

        <mat-card-content>
            <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
                <mat-form-field appearance="outline" class="cajones">
                    <mat-label>Email</mat-label>
                    <input matInput>
                    <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline" class="cajones">
                    <mat-label>Contraseña</mat-label>
                    <input matInput [type]="hide() ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide()">
                        <mat-icon matSuffix>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>

                <mat-form-field appearance="outline" class="cajones">
                    <mat-label>Rol</mat-label>
                    <mat-select formControlName="role">
                        <mat-option value="ADMIN">ADMINISTRADOR</mat-option>
                        <mat-option value="USER">USUARIO</mat-option>
                    </mat-select>
                </mat-form-field>

                <button type="submit" class="cajones" routerLink="/dashboard/inscripciones" mat-flat-button>
                    Iniciar Sesión
                </button>
            </form>
        </mat-card-content>
    </mat-card>
</div>